.slider {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.slide {
    margin:auto;

    width: 95%;
    height: 80vh;

    display: grid;
    grid-template-areas: "a1 m a2";
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 2vw;
}

.slide div {
    margin: auto;
}

.additionalFirst,
.additionalSecond,
.main {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    background: white;

    position: relative;
}

.additionalFirst:hover,
.additionalSecond:hover,
.main:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.additionalFirst,
.additionalSecond {
    height: 50%;
    opacity: .9;
}

.additionalFirst {
    grid-area: a1;
}

.additionalSecond {
    grid-area: a2;
}

.main {
    height: 100%;
    grid-area: m;
}

.inputField{
    border: 0;
    outline: 0;
    outline-offset: 0;
}

.input{
    width: 70%;
    text-align: center;
}
.button{
    width: 30%;
}

.controlPanel {
    width: 400px;
    height: 30px;
    margin: 20px auto 0;
    display: grid;
    grid-template-areas: "bl i br" "e e e";
    grid-template-columns: 1fr 3fr 1fr;
    box-sizing: border-box;
}

.controlPanel input{
    height: 30px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.buttonLeft {
    grid-area: bl;
    height: 30px;
}

.buttonRight {
    grid-area: br;
    height: 30px;
    margin-left: auto;
}


.button:hover,
.input:hover{
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
    border: 0;
    outline: 0;
    outline-offset: 0;
}
.button:hover,
.input:hover,
.buttonLeft:hover,
.buttonRight:hover{
    cursor: pointer;
}

.input:hover{
    cursor: auto;
}

.controlPanel div{
    grid-area: i;
    font-size:10px
}
.controlPanel span{
    grid-area: e;
    font-size: 17px;
    text-align: center;
}

@media screen and (max-width: 560px) {
    .slider{
        justify-content: normal;
    }

    .slide {
        height: 60vh;
        grid-template-areas: "m m" "a1 a2";
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .additionalFirst,
    .additionalSecond {
        height: 80%;
    }

    .controlPanel {
        width: 100%;
        height: 30px;
        margin: 0 auto;
        display: grid;
        grid-template-areas: "bl br" "i i" "e e";
        grid-template-columns: 1fr 1fr;
        box-sizing: border-box;
    }

}